{% extends 'base.html' %}
{% load static %}

{% block title %}Contact PSP{% endblock %}


{% block content %}

    <div style="display: flex;">
        <div style="flex: 1;">
            <img src="{% static 'images/meditation.jpg' %}" alt="Contact Me" style="margin-left: 110px; margin-top: 20px; width: 93%; ">
        </div>

        <div style="flex: 2; margin-left: 110px; margin-top: 20px;">
            <div class="contact-form">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Submit</button>
                </form>
                <div id="responseMessage"></div>
            </div>
        </div>
    </div>

{% endblock content %}